---
---

@import '{{ site.theme }}';

body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: white;
}

.highlight,
code {
  background-color: #fff4d1;
}

// Ugly fixes
header li {
  height: auto;
}

a.button {
  display: inline-block;
}
