---
---

@import '{{ site.theme }}';

body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: white;
}

pre.highlight,
code {
  background-color: #fff4d1;
  font-size: 1em;
  padding: 0.1em 0.2em;
}

h1.header {
  font-size: 1.6rem;
}

// Ugly fixes
header li {
  height: auto;
}

a.buttons {
  display: inline-block;
}
